Repository ansible/ansible-builder, pull requests merged in 2020-06, with the labels that each got.

#5 Packaging: Introduce setup.py
  poetry.lock
  pyproject.toml
  setup.py
  tox.ini
Labels: gate

#9 Packaging: Do not rely on macros but on command
  packaging/rpm/ansible-builder.spec.j2
Labels: gate

#10 Add custom message when running 'create' without EE file
  ansible_builder/main.py
  pyproject.toml
Labels: gate

#4 Do installs in /usr/share directory to avoid user specific issues
  .gitignore
  ansible_builder/main.py
Labels: gate

#13 Update gitignore File
  .gitignore
  tox.ini
Labels: gate

#14 Add Documentation for Builder Repo
  CONTRIBUTING.md
  README.md
  README.rst
Labels: gate

#16 [WIP] Ansible Builder CLI 'build' Command Implementation
  ansible_builder/cli.py
  ansible_builder/constants.py
  ansible_builder/main.py
  test/conftest.py
  test/test_cli.py
  test/test_main.py
Labels: component: cli, enhancement, gate, state: in progress

#23 Add version flag
  ansible_builder/cli.py
Labels: gate

#28 Read galaxy requirements.yml as relative path optionally
  ansible_builder/main.py
  test/test_main.py
Labels: gate

#29 Start a pattern for command help text for documentation
  ansible_builder/cli.py
Labels: component: cli, gate
