Repository ansible/ansible-builder, pull requests merged in 2020-07, with the labels that each got.

#31 Apply options to container runtime argument
  ansible_builder/cli.py
  ansible_builder/constants.py
  ansible_builder/main.py
Labels: gate

#30 Add some initial text for documentation
  README.md
Labels: component: documentation, gate

#27 More Build Command CLI Work
  ansible_builder/main.py
  test/test_main.py
Labels: component: cli, gate

#35 Show More Output for Create/Build Commands
  ansible_builder/cli.py
  ansible_builder/main.py
Labels: component: cli, gate

#39 Add test for coverage of relative galaxy file
  test/data/foo/requirements.yml
  test/data/nested-galaxy.yml
  test/test_main.py
Labels: gate

#43 Update example to new syntax from runner
  examples/pytz/env/settings
Labels: gate

#38 Introspect collection content inside of container
  ansible_builder/cli.py
  ansible_builder/collections.py
  ansible_builder/introspect.py
  ansible_builder/main.py
  ansible_builder/steps.py
  ansible_builder/utils.py
  test/conftest.py
  test/test_cli.py
  test/test_main.py
Labels: gate

#48 Put some argparse definition around the introspect command
  ansible_builder/cli.py
  ansible_builder/introspect.py
Labels: gate

#46 Enable Additional Build Commands to be Specified in Definition File
  .yamllint
  README.md
  ansible_builder/cli.py
  ansible_builder/colors.py
  ansible_builder/main.py
  ansible_builder/steps.py
  ansible_builder/utils.py
  test/conftest.py
  test/data/definition_files/bad.yml
  test/test_main.py
  test/test_steps.py
Labels: component: cli, gate

#55 [alt 2] Move prepare method to tests
  ansible_builder/cli.py
  test/test_cli.py
Labels: gate

#54 Add validation step, combine makedirs and copy code
  ansible_builder/cli.py
  ansible_builder/main.py
  test/conftest.py
  test/test_main.py
Labels: gate

#52 Accept user bindep file
  ansible_builder/main.py
  ansible_builder/steps.py
  test/test_steps.py
Labels: gate

#57 Add processing of python requirements to run AWX case to completion
  ansible_builder/cli.py
  ansible_builder/introspect.py
  ansible_builder/main.py
  ansible_builder/requirements.py
  ansible_builder/steps.py
  poetry.lock
  pyproject.toml
  setup.py
  test/data/ansible_collections/test/bindep/MANIFEST.json
  test/data/ansible_collections/test/bindep/bindep.txt
  test/data/ansible_collections/test/metadata/my-requirements.txt
  test/data/ansible_collections/test/reqfile/extra_req.txt
  test/data/ansible_collections/test/reqfile/requirements.txt
  test/test_main.py
  test/test_requirements.py
  test/test_steps.py
Labels: gate

#58 Fix wrong option to bindep
  ansible_builder/steps.py
  test/test_steps.py
Labels: gate

#60 Exit Build Process If an Error is Detected
  ansible_builder/utils.py
Labels: gate
