Repository ansible/ansible-builder, pull requests merged in 2020-08, with the labels that each got.

#64 add basic pattern for integration tests
  poetry.lock
  pyproject.toml
  setup.py
  test/integration/conftest.py
  test/integration/test_build.py
  test/integration/test_help.py
  tox.ini
Labels: gate

#65 Remove Unnecessary Return Code Check
  ansible_builder/main.py
  test/conftest.py
Labels: component: cli, gate

#68 Use yaml.safe_load
  Makefile
  ansible_builder/introspect.py
  ansible_builder/main.py
  tox.ini
Labels: gate

#66 Update docs and write docs for collection maintainers
  README.md
Labels: gate

#70 Do not write python requirements.txt if nothing to write
  ansible_builder/main.py
Labels: gate

#61 give sensible error when provide wrong type
  ansible_builder/main.py
  test/test_main.py
Labels: component: cli, gate, state: needs review

#71 Reformat Definition File-Related Error Messages, Update README
  README.md
  ansible_builder/cli.py
  ansible_builder/exceptions.py
  ansible_builder/main.py
  ansible_builder/requirements.py
  ansible_builder/steps.py
  test/test_main.py
Labels: component: cli, component: documentation, gate

#72 Add integration test for subversion test case
  test/conftest.py
  test/data/subversion/bindep.txt
  test/data/subversion/execution-environment.yml
  test/integration/conftest.py
  test/integration/test_build.py
  test/test_main.py
Labels: gate

#73 Add test for cache reuse, move pytz example for use in test
  README.md
  ansible_builder/main.py
  ansible_builder/utils.py
  examples/pytz/README.md
  examples/pytz/inventory/hosts
  examples/pytz/requirements.yml
  examples/pytz/run.sh
  test/conftest.py
  test/data/pytz/env/extravars
  test/data/pytz/env/settings
  test/data/pytz/execution-environment.yml
  test/data/pytz/project/rrule_test.yml
  test/data/pytz/requirements.yml
  test/integration/conftest.py
  test/integration/test_build.py
Labels: gate

#75 Add test coverage for an invalid prepend step
  test/data/build_fail/execution-environment.yml
  test/integration/conftest.py
  test/integration/test_build.py
Labels: gate

#76 Move AWX system deps into bindep
  ansible_builder/main.py
  test/data/awx/bindep.txt
  test/data/awx/execution-environment.yml
Labels: gate

#77 Patch up examples and connect some more to integration tests
  test/data/ansible.posix.at/requirements.yml
  test/data/awx/requirements.yml
  test/data/pip/project/pip.yml
  test/data/pip/project/pip_bottle.yml
  test/data/pip/project/requirements.txt
  test/data/run.sh
  test/integration/test_build.py
Labels: gate

#80 Put deps on a diet
  poetry.lock
  pyproject.toml
  setup.py
  tox.ini
Labels: gate

#84 Do a single session-scoped image cleanup
  test/integration/conftest.py
  test/integration/test_build.py
Labels: gate

#83 Some more basic patches for integration tests and examples
  .gitignore
  .yamllint
  ansible_builder/main.py
  test/data/ansible.posix.at/project/at.yml
  test/data/blank/project/debug.yml
  test/data/definition_files/invalid.yml
  test/integration/test_build.py
Labels: gate

#87 Update the data directory README
  test/data/README.md
Labels: gate

#88 Fix bug where files were written multiple times with no changes
  ansible_builder/utils.py
  test/integration/test_build.py
  test/test_utils.py
Labels: gate

#59 Initial processing of bindep.txt from collections
  ansible_builder/cli.py
  ansible_builder/introspect.py
  ansible_builder/main.py
  ansible_builder/requirements.py
  ansible_builder/steps.py
  ansible_builder/utils.py
  test/conftest.py
  test/data/awx/bindep.txt
  test/data/awx/execution-environment.yml
  test/data/awx/requirements.yml
  test/integration/test_build.py
  test/integration/test_introspect.py
  test/test_main.py
  test/test_requirements.py
  test/test_steps.py
  test/test_utils.py
Labels: gate

#93 Do not use dockerhub, use quay
  ansible_builder/constants.py
Labels: gate

#94 Do not skip requests library
  ansible_builder/requirements.py
Labels: gate

#95 Fix test after moving to Fedora for upstream ansible-runner base image
  test/integration/test_build.py
Labels: gate

#91 Update upstream requirements for awx case
  test/data/awx/requirements.yml
Labels: gate
