Repository ansible/ansible-builder, pull requests merged in 2020-12, with the labels that each got.

#130 Add integration testing job
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
  test/integration/conftest.py
  tox.ini
Labels: gate

#132 Switch to ubuntu-bionic-4vcpu for integration jobs
  .zuul.d/jobs.yaml
Labels: gate

#131 Change Verbosity Default + Implementation
  ansible_builder/cli.py
  ansible_builder/main.py
  docs/usage.rst
  test/integration/test_build.py
Labels: component: cli, enhancement, gate

#140 use docker by default if podman is not in the PATH
  ansible_builder/cli.py
  ansible_builder/constants.py
Labels: gate

#137 Implement Ability to Support Custom Galaxy Server Settings
  ansible_builder/main.py
  ansible_builder/steps.py
  docs/definition.rst
  test/data/ansible-test.cfg
  test/test_main.py
Labels: enhancement, gate, priority: high

#139 Remove files and point to new AWX EE home
  docs/usage.rst
  test/data/awx/env/settings
  test/data/awx/execution-environment.yml
  test/data/awx/project/awx.yml
  test/data/awx/requirements.yml
  test/data/awx/run.sh
  test/data/pytz/pub/README.md
  test/data/pytz/pub/run.sh
Labels: gate

#143 Remove extra double-spacing from subcommands
  ansible_builder/utils.py
Labels: gate

#145 Fix prepended steps
  ansible_builder/main.py
  test/data/prepend_steps/execution-environment.yml
  test/integration/test_build.py
Labels: gate

#146 Bump to version 0.3.1
  ansible_builder/__init__.py
  docs/conf.py
  pyproject.toml
  setup.py
  test/test_main.py
Labels: gate

#149 Initialize base_image Properly in the Containerfile Class
  ansible_builder/main.py
Labels: gate

#151 Check for Invalid Keys in the Definition File
  ansible_builder/main.py
  test/test_main.py
Labels: gate, state: needs review, type: bug

#148 Pre-build wheels, before copying them into final image for installation
  .zuul.d/jobs.yaml
  ansible_builder/main.py
  ansible_builder/steps.py
  test/integration/test_build.py
  test/test_steps.py
Labels: gate

#155 Bump version to 0.4.0
  ansible_builder/__init__.py
  docs/conf.py
  pyproject.toml
  setup.py
  test/test_main.py
Labels: gate

#157 Write out files to _build dir in build context
  ansible_builder/main.py
  ansible_builder/steps.py
  test/test_main.py
  tox.ini
Labels: gate

#162 Fix missing entrypoint when built with PBR
  setup.cfg
Labels: gate

#163 Include package in wheel generated by PBR
  setup.cfg
Labels: gate

#164 Drop poetry
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tox.ini
Labels: gate
