Repository ansible/ansible-builder, pull requests merged in 2020-09, with the labels that each got.

#96 Use newly released azure collection
  test/data/awx/requirements.yml
Labels: gate

#85 Documentation website
  .gitignore
  docs/Makefile
  docs/_static/.gitkeep
  docs/_templates/.gitkeep
  docs/conf.py
  docs/glossary.rst
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/usage.rst
  poetry.lock
  pyproject.toml
  setup.py
Labels: component: documentation, gate

#98 Delete some example files no longer being used
  test/data/awx/project/test.yml
  test/data/pytz/project/rrule_test.yml
  test/data/pytz_pub/README.md
  test/data/pytz_pub/env/settings
  test/data/pytz_pub/inventory/hosts
  test/data/pytz_pub/project/rrule_test.yml
  test/data/pytz_pub/run.sh
  test/data/subversion/project/svn.yml
Labels: gate

#99 Start migrating docs content into docs site
  README.md
  docs/glossary.rst
  docs/index.rst
  docs/installation.rst
  docs/usage.rst
Labels: gate

#97 Organization refactor for external python-based introspect use
  Makefile
  ansible_builder/introspect.py
  test/integration/test_introspect_cli.py
  test/test_introspect.py
  test/test_main.py
Labels: gate

#100 Fix minor typos and update outdated help text
  ansible_builder/cli.py
Labels: component: cli, gate

#102 Relax pyyaml version constraint
  pyproject.toml
  setup.py
Labels: gate

#104 Simplify container run command generated by builder
  ansible_builder/main.py
Labels: gate

#103 Update AWX requirements after recent merges
  test/data/awx/requirements.yml
Labels: gate

#106 Add code of conduct + license info to readme
  README.md
Labels: gate

#111 Update for release of ovirt collection
  test/data/awx/requirements.yml
Labels: gate

#108 Trigger copy of files if modification time has updated
  ansible_builder/utils.py
  test/test_utils.py
Labels: gate
