Repository ansible/ansible-builder, pull requests merged in 2021-06, with the labels that each got.

#232 Add log for excluded requirements
  ansible_builder/requirements.py
Labels: gate

#233 Register marker to get rid of pytest warnings
  pytest.ini
Labels: gate

#239 Fix yaml Syntax Reference in Docs
  docs/definition.rst
Labels: component: documentation, gate

#240 Add podman to tox allowlist_externals for integration tests
  tox.ini
Labels: gate

#236 Add Back 'create' Command as an Option
  ansible_builder/cli.py
  ansible_builder/main.py
  test/integration/test_help.py
Labels: enhancement, gate

#243 Split build and create integration tests
  test/data/definition_files/no_galaxy.yml
  test/data/definition_files/no_python.yml
  test/integration/test_build.py
  test/integration/test_create.py
Labels: gate

#245 Validate Dependencies Section of Definition File
  ansible_builder/main.py
Labels: gate

#248 Move to bindep.txt for Containerfile
  Containerfile
  bindep.txt
Labels: gate

#249 Provide Same Verbosity Functionality for Create, Build, and Introspect
  ansible_builder/cli.py
Labels: gate, type: bug

#250 Add "Create" Command to Documentation
  docs/usage.rst
Labels: component:documentation, gate

#244 Change ansible-runner image to latest tag
  ansible_builder/constants.py
Labels: gate

#222 Confirm that we don't install ansible-builder requirements into an EE by mistake
  test/integration/test_build.py
Labels: gate

#225 Try to keep less layer churn in the /output folder
  Containerfile
Labels: gate

#252 Syncing branches
  Containerfile
  ansible_builder/cli.py
  ansible_builder/constants.py
  ansible_builder/main.py
  ansible_builder/requirements.py
  bindep.txt
  docs/definition.rst
  docs/usage.rst
  pytest.ini
  test/data/definition_files/no_galaxy.yml
  test/data/definition_files/no_python.yml
  test/integration/test_build.py
  test/integration/test_create.py
  test/integration/test_help.py
  tox.ini
Labels: gate

#259 Update Docs to Show Renamed build_arg_defaults Parameter
  docs/definition.rst
Labels: component:documentation, gate
