Repository ansible/ansible-builder, pull requests merged in 2022-04, with the labels that each got.

#357 Support collection signing verification
  ansible_builder/cli.py
  ansible_builder/constants.py
  ansible_builder/main.py
  ansible_builder/steps.py
  docs/usage.rst
  test/integration/test_build.py
  test/integration/test_create.py
  test/unit/test_steps.py
Labels: docs

#370 Cleanup UserDefinition class
  ansible_builder/user_definition.py
  test/integration/test_create.py
  test/unit/test_user_definition.py
Labels: needs_triage

#374 Added example EE config files
  demo/execution-environment.yml
  demo/requirements.txt
  demo/requirements.yml
Labels: needs_triage

#375 Add --prune-images flag in build command
  ansible_builder/cli.py
  ansible_builder/main.py
  docs/usage.rst
  test/integration/test_build.py
  test/unit/test_cli.py
Labels: docs, needs_triage
