Repository ansible/ansible-builder, pull requests merged in 2022-02, with the labels that each got.

#342 Fix CI to use image from PR
  .github/workflows/ci.yml
  test/integration/test_build.py
Labels: gate

#344 No code coverage of test code
  .coveragerc
Labels: needs_triage

#345 [backport][release 1.0] Backport some CI changes
  .coveragerc
  .github/workflows/ci.yml
Labels: needs_triage

#341 Revert PR #279
  ansible_builder/cli.py
  ansible_builder/main.py
  docs/collection_metadata.rst
  docs/usage.rst
  test/integration/test_help.py
  test/unit/test_cli.py
Labels: docs, needs_triage

#352 Use lastest image in docs
  docs/definition.rst
Labels: gate, docs

#353 Use `devel` tag for the development image
  .zuul.d/jobs.yaml
Labels: gate

#354 [backport][release_1.0] Use lastest image in docs (#352)
  docs/definition.rst
Labels: gate, docs

#356 Create SECURITY.md
  SECURITY.md
Labels: gate
