Repository ansible/ansible-builder, pull requests merged in 2023-07, with the labels that each got.

#572 Update version 3 definition docs
  docs/definition.rst
Labels: docs, needs_triage

#575 Add pylint to CI
  pyproject.toml
  src/ansible_builder/_target_scripts/introspect.py
  src/ansible_builder/cli.py
  test/requirements.txt
  test/unit/test_introspect.py
  tox.ini
Labels: needs_triage, test, code_health

#576 Update code sanity
  pyproject.toml
  src/ansible_builder/_target_scripts/introspect.py
  src/ansible_builder/cli.py
  src/ansible_builder/constants.py
  src/ansible_builder/containerfile.py
  src/ansible_builder/ee_schema.py
  src/ansible_builder/exceptions.py
  src/ansible_builder/main.py
  src/ansible_builder/user_definition.py
  src/ansible_builder/utils.py
Labels: code_health

#580 [Docs] docs/index.rst: replace EE overview paragraph with a link to docs.ansible.com EE page
  docs/index.rst
Labels: docs

#585 pylint: enable W0212
  pyproject.toml
  test/unit/test_containerfile.py
Labels: needs_triage, code_health

#587 pylint: Fix remaining pylint refactor (Rxxxx) problems
  pyproject.toml
  src/ansible_builder/user_definition.py
  src/ansible_builder/utils.py
Labels: needs_triage, code_health

#588 Fix remaining pylint problems and enable full pylint checks
  pyproject.toml
  src/ansible_builder/_target_scripts/introspect.py
  test/conftest.py
Labels: test, code_health
