Repository ansible/ansible-builder, pull requests merged in 2023-04, with the labels that each got.

#411 ansible-builder 3.0 feature branch
  .github/test-scripts/setup_pulp.sh
  .github/workflows/ci.yml
  Containerfile
  ansible_builder/__main__.py
  ansible_builder/_target_scripts/__init__.py
  ansible_builder/_target_scripts/assemble
  ansible_builder/_target_scripts/check_ansible
  ansible_builder/_target_scripts/check_galaxy
  ansible_builder/_target_scripts/get-extras-packages
  ansible_builder/_target_scripts/install-from-bindep
  ansible_builder/_target_scripts/introspect.py
  ansible_builder/cli.py
  ansible_builder/constants.py
  ansible_builder/containerfile.py
  ansible_builder/ee_schema.py
  ansible_builder/exceptions.py
  ansible_builder/introspect.py
  ansible_builder/main.py
  ansible_builder/steps.py
  ansible_builder/user_definition.py
  ansible_builder/utils.py
  demo/v3_demo/execution-environment.yml
  docs/definition.rst
  docs/usage.rst
  requirements.txt
  setup.cfg
  setup.py
  test/data/ansible_cfg_for_galaxy/ansible-test.cfg
  test/data/ansible_cfg_for_galaxy/requirements.yml
  test/data/nested_galaxy_file/foo/requirements.yml
  test/data/nested_galaxy_file/nested-galaxy.yml
  test/data/v3/check_ansible/ee-missing-ansible.yml
  test/data/v3/check_ansible/ee-missing-runner.yml
  test/data/v3/check_ansible/ee-skip.yml
  test/data/v3/complete/ee.yml
  test/data/v3/complete/files/data/a.dat
  test/data/v3/complete/files/data/text_files/a.txt
  test/data/v3/complete/files/random.cfg
  test/data/v3/pre_and_post/ee.yml
  test/data/v3/pre_and_post/requirements.yml
  test/integration/test_build.py
  test/integration/test_create.py
  test/pulp_integration/test_v3.py
  test/requirements.txt
  test/unit/test_cli.py
  test/unit/test_containerfile.py
  test/unit/test_introspect.py
  test/unit/test_main.py
  test/unit/test_steps.py
  test/unit/test_user_definition.py
  tox.ini
Labels: docs, test

#464 Change ansible_core/ansible_runner schema types
  ansible_builder/containerfile.py
  ansible_builder/ee_schema.py
  ansible_builder/user_definition.py
  demo/v3_demo/execution-environment.yml
  docs/definition.rst
  test/data/v3/check_ansible/ee-missing-ansible.yml
  test/data/v3/check_ansible/ee-missing-runner.yml
  test/data/v3/check_ansible/ee-skip.yml
  test/data/v3/complete/ee.yml
  test/unit/test_user_definition.py
Labels: docs, needs_triage

#466 Prefer COPY over ADD
  ansible_builder/containerfile.py
  test/unit/test_main.py
Labels: needs_triage

#474 Add Python 3.11 testing
  .github/workflows/ci.yml
  tox.ini
Labels: needs_triage

#479 Pass full path while copying
  ansible_builder/containerfile.py
  ansible_builder/utils.py
  test/unit/test_utils.py
Labels: needs_triage

#486 entrypoint script support, passwd permission relax
  ansible_builder/_target_scripts/entrypoint
  ansible_builder/containerfile.py
  ansible_builder/ee_schema.py
  docs/definition.rst
  test/integration/test_create.py
Labels: docs

#488 update demo EE definition, remove old versions
  demo/execution-environment.yml
  demo/requirements.txt
  demo/requirements.yml
  demo/v3_demo/execution-environment.yml
Labels: needs_triage

#492 Remove get-extra-packages
  Containerfile
  ansible_builder/_target_scripts/assemble
  ansible_builder/_target_scripts/get-extras-packages
  ansible_builder/containerfile.py
Labels: needs_triage

#460 Normalize package names with lowercase
  ansible_builder/_target_scripts/introspect.py
  ansible_builder/cli.py
  ansible_builder/requirements.py
  test/data/ansible_collections/other/reqfile/requirements.txt
  test/data/ansible_collections/test/reqfile/requirements.txt
  test/integration/test_introspect_cli.py
  test/unit/test_introspect.py
Labels: needs_triage

#494 switch to setuptools_scm
  .git_archival.txt
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  MANIFEST.in
  docs/conf.py
  docs/requirements.in
  docs/requirements.txt
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  src/ansible_builder/__init__.py
  src/ansible_builder/__main__.py
  src/ansible_builder/_target_scripts/__init__.py
  src/ansible_builder/_target_scripts/assemble
  src/ansible_builder/_target_scripts/check_ansible
  src/ansible_builder/_target_scripts/check_galaxy
  src/ansible_builder/_target_scripts/entrypoint
  src/ansible_builder/_target_scripts/install-from-bindep
  src/ansible_builder/_target_scripts/introspect.py
  src/ansible_builder/cli.py
  src/ansible_builder/colors.py
  src/ansible_builder/constants.py
  src/ansible_builder/containerfile.py
  src/ansible_builder/ee_schema.py
  src/ansible_builder/exceptions.py
  src/ansible_builder/main.py
  src/ansible_builder/policies.py
  src/ansible_builder/requirements.py
  src/ansible_builder/user_definition.py
  src/ansible_builder/utils.py
  test/unit/test_cli.py
  tox.ini
Labels: docs, needs_triage

#499 Update contrib and readme
  CONTRIBUTING.md
  README.md
Labels: needs_triage

#498 move pytest coverage and parallelization to tox config
  pytest.ini
  tox.ini
Labels: needs_triage

#504 Update schema doc for 3.0 version reference
  docs/definition.rst
Labels: docs, needs_triage
