Repository ansible/ansible-builder, pull requests merged in 2023-05, with the labels that each got.

#510 fix serial mark enforcement
  test/conftest.py
Labels: needs_triage, test

#515 support blind-translated YAML mapping for galaxy deps
  demo/execution-environment.yml
  docs/definition.rst
  src/ansible_builder/ee_schema.py
  src/ansible_builder/user_definition.py
  test/data/v3/complete/ee.yml
  test/integration/test_create.py
Labels: docs, needs_triage

#516 Remove forced `dnf upgrade`, speed up tests
  docs/usage.rst
  src/ansible_builder/_target_scripts/assemble
  src/ansible_builder/_target_scripts/install-from-bindep
  src/ansible_builder/cli.py
  src/ansible_builder/constants.py
  src/ansible_builder/containerfile.py
  src/ansible_builder/ee_schema.py
  test/conftest.py
  test/data/ansible.posix.at/execution-environment.yml
  test/data/build_args/base-image.yml
  test/data/build_fail/execution-environment.yml
  test/data/needs_git/execution-environment.yml
  test/data/needs_git/requirements.txt
  test/data/prepend_steps/execution-environment.yml
  test/data/subversion/execution-environment.yml
  test/integration/test_build.py
  test/integration/test_create.py
  test/pulp_integration/test_policies.py
  test/unit/test_cli.py
Labels: docs, needs_triage, test

#521 Allow to set user value for the container image
  demo/execution-environment.yml
  docs/definition.rst
  src/ansible_builder/containerfile.py
  src/ansible_builder/ee_schema.py
  test/data/v3/complete/ee.yml
  test/integration/test_create.py
  test/unit/test_user_definition.py
Labels: docs

#522 Purge /output for final image
  docs/definition.rst
  src/ansible_builder/constants.py
  src/ansible_builder/containerfile.py
  src/ansible_builder/ee_schema.py
  test/integration/test_create.py
Labels: docs

#517 Parse build-args for empty values
  docs/usage.rst
  src/ansible_builder/cli.py
  test/unit/test_cli.py
Labels: docs

#526 Remove todo.org
  TODO.org
Labels: needs_triage

#531 Add test image cleanup
  test/conftest.py
Labels: needs_triage, test

#549 definition.rst: Add link to Galaxy requirements file format; add example of specifying collection version
  docs/definition.rst
Labels: docs, needs_triage

#550 Add codecov config file
  .github/codecov.yml
Labels: needs_triage
