Repository ansible/ansible-builder, pull requests merged in 2023-08, with the labels that each got.

#595 docs: update docs about bindep profile
  docs/collection_metadata.rst
Labels: docs

#590 Introduction page: improve readability and structure
  docs/index.rst
Labels: docs, needs_triage

#599 Add type hints for Containerfile and AnsibleBuilder
  src/ansible_builder/cli.py
  src/ansible_builder/containerfile.py
  src/ansible_builder/main.py
  test/unit/test_main.py
  test/unit/test_user_definition.py
Labels: code_health
