Repository ansible/ansible-builder, pull requests merged in 2023-06, with the labels that each got.

#544 Docs: mention a few base images as examples, using a free one as the default
  docs/definition.rst
Labels: docs, needs_triage

#554 Fail CI on codecov upload failure
  .github/workflows/ci.yml
Labels: code_health

#552 Update to the builder documentation
  docs/collection_metadata.rst
  docs/definition.rst
  docs/glossary.rst
  docs/index.rst
  docs/installation.rst
  docs/usage.rst
Labels: docs, needs_triage

#558 Document PKGMGR_PRESERVE_CACHE
  docs/definition.rst
Labels: docs, needs_triage

#538 Added scenarios for version 3
  docs/definition.rst
  docs/index.rst
  docs/scenario_guides/copy_ee.yml
  docs/scenario_guides/env_ee.yml
  docs/scenario_guides/galaxy_ansible.cfg
  docs/scenario_guides/galaxy_ee.yml
  docs/scenario_guides/scenario_copy.rst
  docs/scenario_guides/scenario_custom.rst
  docs/scenario_guides/scenario_using_env.rst
Labels: docs

#555 [RFE] Support for tags from the configuration file
  demo/execution-environment.yml
  docs/definition.rst
  src/ansible_builder/cli.py
  src/ansible_builder/ee_schema.py
  src/ansible_builder/main.py
  test/unit/test_user_definition.py
Labels: enhancement, docs

#563 Docs: Using prepend_base
  docs/definition.rst
Labels: docs, needs_triage

#551 collection_metadata: improve documentation
  docs/collection_metadata.rst
Labels: docs, needs_triage

#559 Improve CLI usage docs
  docs/usage.rst
Labels: docs, needs_triage

#564 Support multiple -v for verbosity
  docs/usage.rst
  src/ansible_builder/cli.py
  src/ansible_builder/constants.py
  test/integration/test_create.py
  test/unit/test_cli.py
Labels: docs

#528 Validate build_steps for USER directive
  docs/definition.rst
  src/ansible_builder/user_definition.py
  test/data/build_fail/user-ee.yml
  test/integration/test_build.py
Labels: docs, needs_triage
