Repository ansible/ansible-builder, pull requests merged in 2024-03, with the labels that each got.

#659 Add Python 3.12 testing
  .github/workflows/ci.yml
  setup.cfg
  test/requirements.txt
  tox.ini
Labels: needs_triage, test

#667 Fix the misspelled "PyPI" to use a capital "I"
  docs/installation.rst
Labels: docs

#666 Spellcheck and grammar fixes
  docs/collection_metadata.rst
  docs/definition.rst
  docs/scenario_guides/scenario_copy.rst
  docs/scenario_guides/scenario_custom.rst
  docs/scenario_guides/scenario_using_env.rst
Labels: docs, needs_triage
