Repository ansible/ansible-builder, pull requests merged in 2024-08, with the labels that each got.

#698 Add Python 3.13 classifier to devel branch
  setup.cfg
Labels: needs_triage

#700 Move setuptools upperbound to most recent version
  pyproject.toml
Labels: needs_triage

#701 Add 3.1 porting guide
  docs/index.rst
  docs/porting_guides/porting_guide.rst
  docs/porting_guides/porting_guide_v3.0.rst
  docs/porting_guides/porting_guide_v3.1.rst
Labels: docs

#705 docs: Fixing typo in example
  docs/definition.rst
Labels: docs, needs_triage
